<a href="https://colab.research.google.com/github/mariumfaheem/Data-Science/blob/main/Data_Cleaning_Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/content/netflix.csv")

In [ ]:
data.head(n=10)

                   title rating  ... user rating score  user rating size
0           White Chicks  PG-13  ...              82.0                80
1    Lucky Number Slevin      R  ...               NaN                82
2         Grey's Anatomy  TV-14  ...              98.0                80
3           Prison Break  TV-14  ...              98.0                80
4  How I Met Your Mother  TV-PG  ...              94.0                80
5           Supernatural  TV-14  ...              95.0                80
6           Breaking Bad  TV-MA  ...              97.0                80
7    The Vampire Diaries  TV-14  ...              91.0                80
8       The Walking Dead  TV-MA  ...              98.0                80
9    Pretty Little Liars  TV-14  ...              96.0                80

[10 rows x 7 columns]

In [ ]:
data.tail()

                       title rating  ... user rating score  user rating size
995                  The BFG     PG  ...              97.0                80
996  The Secret Life of Pets     PG  ...               NaN                81
997         Precious Puppies   TV-G  ...               NaN                82
998              Beary Tales   TV-G  ...               NaN                82
999          Growing Up Wild      G  ...              80.0                80

[5 rows x 7 columns]

#isull()

In [ ]:
data.isnull().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

#notnull()

In [ ]:
data.notnull().sum()

title                1000
rating               1000
ratingLevel           941
ratingDescription    1000
release year         1000
user rating score     605
user rating size     1000
dtype: int64

#**LOC** Label Based Selection
#**ILOC** Index Based Selection

In [ ]:
data[(data.rating)=='PG']

                        title rating  ... user rating score  user rating size
86                   Zootopia     PG  ...              97.0                80
88               Finding Dory     PG  ...              98.0                80
91              Pete's Dragon     PG  ...              93.0                80
180  Kubo and the Two Strings     PG  ...              96.0                80
184            Queen of Katwe     PG  ...               NaN                81
..                        ...    ...  ...               ...               ...
981              Dolphin Tale     PG  ...               NaN                82
988                Paddington     PG  ...              70.0                80
989           Russell Madness     PG  ...               NaN                82
995                   The BFG     PG  ...              97.0                80
996   The Secret Life of Pets     PG  ...               NaN                81

[170 rows x 7 columns]

In [ ]:
data.loc[(data.rating=='PG-13') & (data["release year"]==2011)]

            title rating  ... user rating score  user rating size
273  Mean Girls 2  PG-13  ...               NaN                82
322  Mean Girls 2  PG-13  ...               NaN                82

[2 rows x 7 columns]

In [ ]:
data.loc[(data.rating=='PG-13') & (data["release year"]==2011)]

            title rating  ... user rating score  user rating size
273  Mean Girls 2  PG-13  ...               NaN                82
322  Mean Girls 2  PG-13  ...               NaN                82

[2 rows x 7 columns]

In [ ]:
data.loc[(data.rating=="TV-14") &(data["user rating score"]>=90)]

                   title rating  ... user rating score  user rating size
2         Grey's Anatomy  TV-14  ...              98.0                80
3           Prison Break  TV-14  ...              98.0                80
5           Supernatural  TV-14  ...              95.0                80
7    The Vampire Diaries  TV-14  ...              91.0                80
9    Pretty Little Liars  TV-14  ...              96.0                80
..                   ...    ...  ...               ...               ...
472   Person of Interest  TV-14  ...              93.0                80
474              Scandal  TV-14  ...              92.0                80
476             Sherlock  TV-14  ...              95.0                80
477      The Client List  TV-14  ...              92.0                80
483        The Blacklist  TV-14  ...              96.0                80

[107 rows x 7 columns]

#**LOC** : First condition , specific columns

In [ ]:
data.loc[(data.rating=='TV-14'),['title','rating','ratingLevel','ratingDescription','release year']]

                   title rating  ... ratingDescription  release year
2         Grey's Anatomy  TV-14  ...                90          2016
3           Prison Break  TV-14  ...                90          2008
5           Supernatural  TV-14  ...                90          2016
7    The Vampire Diaries  TV-14  ...                90          2017
9    Pretty Little Liars  TV-14  ...                90          2016
..                   ...    ...  ...               ...           ...
489             Rosewood  TV-14  ...                90          2015
491             Quantico  TV-14  ...                90          2016
492            Limitless  TV-14  ...                90          2016
495          No Tomorrow  TV-14  ...                90          2016
499            Greenleaf  TV-14  ...                90          2016

[234 rows x 5 columns]

#**ILOC** : First condition , specific Index

In [ ]:
data.iloc[[0,5]]

          title rating  ... user rating score  user rating size
0  White Chicks  PG-13  ...              82.0                80
5  Supernatural  TV-14  ...              95.0                80

[2 rows x 7 columns]

#**ILOC** : first rows indexes , second column indexes

In [ ]:
data.iloc[[0,5],0:2]

          title rating
0  White Chicks  PG-13
5  Supernatural  TV-14

In [ ]:
data.iloc[[0,5],:-1]

          title rating  ... release year  user rating score
0  White Chicks  PG-13  ...         2004               82.0
5  Supernatural  TV-14  ...         2016               95.0

[2 rows x 6 columns]

#Difference between LOC and ILOC

In [ ]:
data.describe()

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000

#**ONE HOT ENCODING**

In [ ]:
data.isnull().sum()

title                0
rating               0
ratingLevel          0
ratingDescription    0
release year         0
user rating score    0
user rating size     0
dtype: int64

In [ ]:
avg_user_rating_score=data["user rating score"].mean(axis=0)

In [ ]:
import numpy as np

In [ ]:
data.replace(np.nan,avg_user_rating_score,inplace=True)

In [ ]:
data.isnull().sum()

title                0
rating               0
ratingLevel          0
ratingDescription    0
release year         0
user rating score    0
user rating size     0
dtype: int64